# environment file
PORT=<<port>>
HOST=<<host>>

# input
MIN_NUMBER_OF_CHARS=3

# BigQuery
BIG_QUERY_PROJECT_ID=<<BIG_QUERY_PROJECT_ID>>
BIG_QUERY_DATABASE=<<BIG_QUERY_DATABASE>>
BIG_QUERY_TABLE=<<BIG_QUERY_TABLE>>
BIG_QUERY_LIMIT_ROWS=10

# Logging
LOGGING_PROJECT_ID=<<LOGGING_PROJECT_ID>>
LOGGING_LOG_NAME=<<LOGGING_LOG_NAME>>